<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">

    <title><%=shopName%></title>
  </head>
  <body>
    <h1>about the <%=shopName%> Shop</h1>
    <p>We sell all sorts of drinks</p>
  </body>
</html>
