<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
  </head>
  <body>
    <h1>search function for <%=shopName%> Shop</h1>
    <h2>Search:</h2>
    <ul>
      <li>SEARCH BAR</li>
    </ul>

<form action="/search_result" method="GET">
  <label for="search_name">Name:</label>
  <input id="search_name" type="text" name="name_text">

  <label for="search_category">Category:</label>
  <input id="search_category" type="text" name="category_text">

  <input type="submit" value="OK">
</form>


    </body>
</html>
