<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
  </head>
  <body>
    <h1>search function for <%=shopName%> Shop</h1>
    <h2>Search:</h2>
    <ul>
      <li>SEARCH BAR</li>
      
    </ul>
    </body>
</html>
